/* ============ Winter 2024 EECS 493 Assignment 3 Starter Code ============ */

/* Main Containers */
body,
button {
  font-family: VT323;
}

button {
  font-size: xx-large;
}

.outer-container {
  height: 720px;
  width: 1280px;
  background: #eee;
  border: 5px solid gainsboro;
}

.game-window {
  height: 720px;
  width: 1280px;
  float: left;
  position: relative;
}

/* Game Section */
#actual-game {
  height: 720px;
  width: 1280px;
  background-color: white;
  z-index: 10;
  right: 0px;
  top: 0px;
}

.curAsteroid {
  position: absolute;
  height: 42px;
  width: 42px;
  z-index: 9;
  right: 0px;
  top: 0px;
}

.curAsteroid img {
  position: relative;
  z-index: 10;
  height: 80px;
  left: -17px;
  top: -15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Add your stylings here */
.game-window {
  background-image: url('../src/frontpage_background.jpg'); /* adjust the path as needed */
  background-size: cover;
  background-repeat: no-repeat;
  
}

/* Header styling */
.header-container h1 {
  height: 100px; 
  background-color: darkslateblue; 
  font-size: 100px; 
  color: white; 
  margin: 0; 
  padding: 0; 
  line-height: 100px; 
  text-align: center; 
}

button {
  font-size: xx-large;
  width: 200px; 
  height: 100px; 
  background-color: darkslateblue; 
  color: white; 
  cursor: pointer; 
  margin: 5px; 
  padding: 5px 10px; 
  text-align: center; 
  box-shadow: none; 
  outline: none; 
  transition: background-color 0.3s ease; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.header-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  background-color: darkslateblue; 
  border-bottom: 6px groove; 
  padding: 0 20px; 
  height: 100px;
}

.asteroid {
  height: 100px; 
}

.button-container {
  padding: 100px 0; 
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
  gap: 10px;
}


#settingsPanel {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 690px;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: darkslateblue;
  color: white;
  padding: 0 20px;
  border: 2px solid white;
}

#settingsPanel h2 {
  height: 100px; 
  width: 230px;
  background-color: darkslateblue; 
  font-size: 45px; 
  color: white; 
  margin-top: 0px; 
  padding: 0; 
  line-height: 150px; 
  text-align: center; 
  font-weight: bold;
}

#volumeSlider {
  -webkit-appearance: none;
  background: #d3d3d3; 
  outline: none; /* Removes the default browser outline */
  transition: opacity .2s; 
  opacity: 0.7; 
  width: 100%; 
  height: 25px; 
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #4CAF50; 
  cursor: pointer; /* Changes cursor type on hover */
  border-radius: 0; 
}

.difficulty-buttons {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.difficulty-buttons button{
  font-size: xx-large;
  width: 200px; 
  height: 100px; 
  background-color: purple; 
  color: white; 
  cursor: pointer; 
  margin: 10px; 
  padding: 5px 10px; 
  text-align: center; 
  box-shadow: none; 
  outline: none;
  transition: background-color 0.3s ease; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.selected {
  border: 2px solid #FFFF00; 
  
}

#tutorialPage {
  background-color: gainsboro;
  top: 0;
  left: 0;
  display: flex; 
  position: absolute; 
  width: 100%; 
  height: 100%;
  flex-direction: column;
  align-items: center; 
  justify-content: center;

}

#tutorialPage p{
  font-size: 50px;
  line-height: 0;
}

#how-to-play{
  font-weight: bold;
  font-size: 75px;
  height: 10px;
}

.bold {
  font-weight: bold;
  font-size: 50px;
}
.italic {
  font-style: italic;
  font-size: 50px;
}

#image-container{
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#image-container > * { 
  margin: 0 30px; 
  width: 100px;
}

#start-button{
  width: 200px;
  height: 75px;
  background-color: gainsboro;
  color: black;
}


#actual-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#get-ready{
  font-weight: bold;
  font-size: 75px;
  height: 100px;

}

#getReady {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#getReady p{
  font-size: 50px;
  line-height: 0;
}

.curAsteroid img {
  height: 80px;
  width: 80px;
}

.shield img{
  width: 70px;
  height: 70px;
}

.portal img{
  width: 70px;
  height: 70px;
}

.portal{
  position: absolute;
}

.shield {
  position: absolute;
}

#rocket {
  position: absolute;
  left: calc(50% - 40px); /* Half of the rocket's width */
  top: calc(50% - 40px); /* Half of the rocket's height */
}

#scorePanel {
  position: absolute;
  top: 10px;
  right: 60px;
  text-align: center;
  font-size: 50px;
}

#scorePanel span{
  color: purple;
  font-size: 40px;
}

#gameOver-box{
  background-color: darkslateblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 500px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

#startOver-button {
  font-size: x-large;
  width: 150px; 
  height: 50px; 
  background-color: white; 
  color: black; 
  cursor: pointer; 
  text-align: center; 
  box-shadow: none; 
  outline: none; 
  transition: background-color 0.3s ease; 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
}

#gameOver-box p{
  color: white;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}